.header {
  background-color: var(--primary);
  border-bottom: 2px solid var(--primary-dark);
  color: white;
  padding: 1rem;
  margin-bottom: 2rem;
}

.title {
  margin: 0;
  text-shadow: 0 5px #680016; /* TODO Remove it?  */
}
