.formField {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  border: 0;
}

.input {
  background-color: var(--background);
  border-radius: 0.75em;
  border: 2px solid var(--outline);
  color: var(--primary);
  font-family: var(--font-primary);
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 1rem;
}

.label {
  margin: 1rem;
}
