@import "./variables.scss";
@import "./mixins.scss";
@import "./buttons.scss";

body {
  margin: 0;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  background-color: var(--light-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  min-height: calc(100vh - 200px);
  font-size: calc(10px + 1vmin);
}

h1,
h2,
h3 {
  margin: 1rem 0;
}

p {
  margin: 0.5rem 0;
}
